[submodule "libsession-util/libsession-util"]
	path = libsession-util/libsession-util
	url = https://github.com/session-foundation/libsession-util.git
[submodule "encryptdecryptmodule"]
	path = encryptdecryptmodule
	url = https://github.com/R00tedbrain/Encrypt-Decrypt-AndroidAPK.git
